<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;800&family=Merriweather+Sans:wght@800&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  		<a class="navbar-brand" href="\"><i class="fas fa-chevron-left"></i><i class="fas fa-user-friends"></i><i class="fas fa-chevron-right"></i> DevMatch</a>
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<div class="collapse navbar-collapse" id="navbarToggler">
  			<ul class="navbar-nav mr-9 mt-lg-0">
      		<li class="nav-item">
        		<a class="nav-link" href="\about">About</a>
      		</li>
    		</ul>
				</div>
  		</div>
		</nav>
  	
    <%= yield %>
    
  </body>
</html>
